* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

/*complete style for navigation session in webpage*/

.nav-container {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.918);
  color: white;
}

.logo {
  letter-spacing: 0.2rem;
  font-weight: 1000;
  flex: 1;
  font-size: 2rem;
  padding: 0.3rem;
}

.nav-item {
  text-decoration: none;
  margin: 0rem 0.5rem;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  color: white;
  display: inline-block;
}

.nav-item:hover {
  background-color: rgb(134, 35, 192);
}

.menu-bar {
  background-color: red;
  border-radius: 40px;
  display: none;
}

.bar {
  background-color: white;
  display: block;
  width: 2rem;
  height: 3px;
  margin: 0.4rem 0.6rem;
  border-radius: 40px;
}

/*media query for navigation session for mobile devices*/

@media (max-width: 600px) {
  .menu-bar {
    display: block;
    position: fixed;
    top: 0.6rem;
    right: 0.5rem;
    cursor: pointer;
  }
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-items-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
  }
  .nav-item {
    text-align: center;
    margin: 0;
    display: block;
  }
  .hidden {
    display: block;
  }
}

/* This css is for complete main component section in the web page*/

.main-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.815);
  align-items: center;
  flex-wrap: wrap;
}
.imgcontainer {
  background-color: rgb(134, 35, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70% 50% 70% 50%;
  padding-bottom: 2rem;
}
.profileimg {
  width: 300px;
}
@media (max-width: 500px) {
  .main-container {
    justify-content: space-around;
    text-align: center;
    margin: auto;
  }
}
